html,
body {
  /* Auf Seiten wo sowieos nicht seitlich gescrolled werden kann, resette ich overflow-x wieder*/
  overflow-x: initial;
  scrollbar-width: 0;
}
body {
  overflow-x: hidden;
  --panel-height-minus-headerbar-height: calc(
    100vh - var(--max-header-bar-height)
  );
}

.Spotlight,
.Detail-Panel,
.Kaufbanner {
  --gradient-direction-DetailPanel: 0deg;
  --gradient-color-DetailPanel: rgb(96, 96, 96) -20%, rgb(187, 187, 187) 100%;
  background: linear-gradient(
    var(--gradient-direction-DetailPanel),
    var(--gradient-color-DetailPanel)
  );
  border-top: 3px solid white;
  position: sticky;
  height: var(--panel-height-minus-headerbar-height);
  top: calc(var(--max-header-bar-height) - 2px);
  margin-bottom: 200px;
}
.Spotlight {
  top: var(--max-header-bar-height);
}

.Spotlight--Aqua,
.Detail-Panel--Aqua,
.Kaufbanner--Aqua {
  --gradient-color-DetailPanel: rgb(25, 46, 109) -20%, rgb(98, 179, 230) 100%;
}

#Navigation-Map {
  --max-height_Nav-Map-padding: 7px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  max-height: calc(3.4rem + var(--max-height_Nav-Map-padding) + 7px);
  overflow: hidden;
  transition: max-height 0.5s;
  margin: 5px 2px;
  user-select: none;
  opacity: 0.5;
  z-index: 998;
}

#Navigation-Map:hover {
  opacity: 1;
}
#Navigation-Map.Navigation-Map--ausgeklappt {
  /* TODO: ich muss die Headerbarhöhe abziehen von 100vh */
  max-height: calc(
    100vh - (2 * var(--max-header-bar-height)) -
      var(--max-height_Nav-Map-padding)
  );
}

#Navigation-Map > :first-child {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  width: fit-content;
  border-radius: 100px;
  padding: var(--max-height_Nav-Map-padding) 15px;
  margin-bottom: 5px;
  font-size: 2.5rem !important;
}
#Navigation-Map__Items {
  --transparency-value-top: 3%;
  --transparency-value-bottom: 3%;
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    black var(--transparency-value-top),
    black calc(100% - var(--transparency-value-bottom)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    black var(--transparency-value-top),
    black calc(100% - var(--transparency-value-bottom)),
    transparent 100%
  );
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 17px;
  margin-left: 10px;
}
.Navigation-Map--ausgeklappt #Navigation-Map__Items {
  overflow-y: auto;
  scrollbar-color: white transparent;
  scrollbar-width: thin;
}

#Navigation-Map__Items > :nth-child(n) {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  cursor: default;
  cursor: pointer;
  margin-left: 50px;
  margin: 2px 0;
  padding: var(--max-height_Nav-Map-padding) 10px;
  transition: font-weight 0.09s;
  white-space: nowrap;
  width: fit-content;
}

#Navigation-Map__Items > :nth-child(n):hover {
  font-weight: bold;
  color: var(--page-background-color);
  background-color: rgba(255, 255, 255, 0.6);
}

.Menu-Pfeil {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
  transform: translateY(-5px) rotate(-45deg);
  transition: transform 0.5s;
}
.Navigation-Map--ausgeklappt .Menu-Pfeil {
  max-height: 100vh;
  transform: translateY(-3px) rotate(135deg);
}

.Spotlight {
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
  border: 0;
}

.Spotlight__Bild {
  object-fit: cover;
  height: 100%;
  width: 100vw;
  --gradient-direction-DetailPanel: 0deg;
  --transparency-delta-top: 10%;
  --transparency-delta-bottom: 10%;
  --transparency-start: 0%;
  --transparency-stop: 100%;
  --transparency-direction: 0deg;
  -webkit-mask-image: linear-gradient(
    var(--transparency-direction),
    transparent var(--transparency-start),
    green calc(var(--transparency-start) + var(--transparency-delta-top)),
    green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
    transparent var(--transparency-stop)
  );
  mask-image: linear-gradient(
    var(--transparency-direction),
    transparent var(--transparency-start),
    green calc(var(--transparency-start) + var(--transparency-delta-top)),
    green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
    transparent var(--transparency-stop)
  );
}

.Spotlight__Text {
  width: 100vw;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.337);
}

.Spotlight__Text,
.Detail-Panel__Text {
  mix-blend-mode: overlay;
  filter: brightness(100%);
}

.Spotlight__Heading {
  font-size: 300%;
}

.Detail-Panel {
  display: grid;

  justify-items: center;
  grid-template-rows: 50% 50%;
  /* TODO:  */
  grid-template-columns: 100vw;
  border-top: 3px solid white;
  --gradient-direction-DetailPanel: 180deg;
  --transparency-delta-top: 0%;
  --transparency-delta-bottom: 0%;
  --transparency-start: 0%;
  --transparency-stop: 100%;
  --transparency-direction: 0deg;
}

.Detail-Panel__Text__Heading {
  font-size: 3.5rem;
  margin-bottom: 10px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.Detail-Panel__Bild {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/2;
  --transparency-direction: 0deg;
  --transparency-delta-top: 5%;
  -webkit-mask-image: linear-gradient(
    var(--transparency-direction),
    transparent var(--transparency-start),
    green calc(var(--transparency-start) + var(--transparency-delta-top)),
    green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
    transparent var(--transparency-stop)
  );
  mask-image: linear-gradient(
    var(--transparency-direction),
    transparent var(--transparency-start),
    green calc(var(--transparency-start) + var(--transparency-delta-top)),
    green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
    transparent var(--transparency-stop)
  );
}

.Detail-Panel__Text {
  font-size: 2.3rem;
  color: white;
  font-weight: 300;
  width: 95%;
  margin-top: 10px;
  padding: -5px inherit;
  /* background-color: rgba(183, 183, 183, 0.3); */
  padding-bottom: 50px;
  overflow-y: auto;
  grid-column: 1/2;
  grid-row: 2/3;

  --transparency-delta-bottom: 5%;
  -webkit-mask-image: linear-gradient(
    var(--transparency-direction),
    transparent var(--transparency-start),
    green calc(var(--transparency-start) + var(--transparency-delta-top)),
    green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
    transparent var(--transparency-stop)
  );
  mask-image: linear-gradient(
    var(--transparency-direction),
    transparent var(--transparency-start),
    green calc(var(--transparency-start) + var(--transparency-delta-top)),
    green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
    transparent var(--transparency-stop)
  );
}

.Detail-Panel__Text {
  --scrollbar-color: rgba(255, 255, 255, 0.6);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}
.Detail-Panel__Text::-webkit-scrollbar {
  width: 2px;
}

.Detail-Panel__Text::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

.Kaufbanner {
  background-color: black;
  display: grid;
  position: relative;
  height: fit-content;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: min-content fit-content min-content fit-content;
  padding-top: 30px;
  margin: 0;
}

.Kaufbanner__Bild {
  grid-row: 2/3;
  height: 100%;
  width: clamp(300px, 100%, 640px);
}

.Kaufbanner__Info {
  height: 100%;
  width: 95vw;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
  word-break: normal;
}

.Kaufbanner__Info::-webkit-scrollbar {
  width: 3px;
}

.Kaufbanner__Info::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
.Kaufbanner__Titel {
  grid-row: 1/2;
  font-weight: bold;
  font-size: clamp(3rem, 10vw, 8rem);
  mix-blend-mode: overlay;
}

.Kaufbanner__Info__Daten {
  overflow-x: hidden;
}
.Kaufbanner__Daten__Reihe {
  background-color: rgba(255, 255, 255, 0.2);
}

.Kaufbanner__Daten__Reihe:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.3);
}
.Kaufbanner__Daten__Reihe :nth-child(n) {
  text-align: center;
  padding: 3px;
  font-size: clamp(1.6rem, 6vw, 2.5rem);
}

.Kaufbanner__Preis-Knopf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 40px;
  font-size: clamp(2rem, 10vw, 4rem);
}
.Kaufbanner__Preis {
  font-weight: bold;
}

.Kaufbanner__Knopf {
  background-color: rgba(255, 255, 255, 1);
  filter: opacity(0.8);
  color: var(--page-background-color);
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 100px;
  mix-blend-mode: color-dodge;
  box-shadow: 0 0 10px 0 white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}

.Kaufbanner__Knopf:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 800px) {
  .Spotlight,
  .Detail-Panel {
    --gradient-direction-DetailPanel: 0deg;
    --transparency-delta-top: 10%;
    --transparency-delta-bottom: 10%;
    --transparency-start: 0%;
    --transparency-stop: 100%;
    --transparency-direction: 0deg;
  }

  .Spotlight__Text {
    font-size: 2rem;
  }

  .Detail-Panel {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    box-shadow: 0 0 20px 10px var(--page-background-color);
  }

  .Detail-Panel__Text__Heading {
    font-size: 3.5rem;
    font-weight: bold;
  }

  .Detail-Panel__Text {
    --transparency-delta-top: 0;
    --transparency-delta-bottom: 0;
    font-size: 2.5rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .Detail-Panel__Bild {
    --transparency-delta-bottom: 0%;
    --transparency-direction: -90deg;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .Detail-Panel:nth-child(odd) .Detail-Panel__Bild {
    grid-column: 2/3;
    grid-row: 1/2;
    --transparency-direction: 90deg;
  }

  .Detail-Panel:nth-child(odd) .Detail-Panel__Text {
    text-align: left;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .Kaufbanner {
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr fit-content 1fr;
    justify-items: center;
    align-items: center;
    position: sticky !important;
    /* TODO: */
    height: var(--panel-height-minus-headerbar-height);
    top: var(--max-header-bar-height);
    padding: 0;
  }

  .Kaufbanner__Bild {
    width: 70%;
    object-fit: contain;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-start;
  }

  .Kaufbanner__Info {
    grid-column: 2/3;
    grid-row: 1/4;
    mix-blend-mode: luminosity;
    justify-self: center;
    align-self: center;
    margin-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 90%;
    width: 100%;
  }

  .Kaufbanner__Titel {
    align-self: flex-end;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    position: relative;
    top: 50px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .Kaufbanner__Info__Daten {
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    align-self: center;
    font-weight: 300;
    padding: 0;
  }

  .Kaufbanner .Kaufbanner__Daten__Reihe {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 3rem;
  }
  .Kaufbanner__Daten__Reihe:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .Kaufbanner__Daten__Reihe :nth-child(n) {
    font-size: 2rem;
  }

  .Kaufbanner__Preis-Knopf {
    grid-row: 3/4;
    grid-column: 1/2;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    bottom: 70px;
  }

  #Navigation-Map {
    margin: 5px 2px;
  }

  .Kaufbanner__Info {
    border-radius: 20px 0 0 20px;
  }
  .Kaufbanner__Info__Daten {
    border-spacing: 1px 0px;
  }

  .Kaufbanner__Info__Head {
    position: sticky;
    top: 0px;
    background-color: rgb(175, 175, 175);
    color: rgba(42, 42, 42, 1);
    margin: 2px;
  }
  .Footer {
    margin-top: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .Kaufbanner__Preis-Knopf {
    flex-direction: row;
  }
}

.Footer {
  z-index: 100000;
}
