#top_edge {
  margin: 0;
  margin-bottom: 100vh;
}

a.Menu__Anchor {
  top: calc(-1 * var(--max-header-bar-height));
}

.Spotlight,
.Detail-Panel,
.Kaufbanner {
  --gradient-direction-DetailPanel: 0deg;
  --gradient-color-DetailPanel: rgb(96, 96, 96) -20%, rgb(187, 187, 187) 100%;
  background: linear-gradient(
    var(--gradient-direction-DetailPanel),
    var(--gradient-color-DetailPanel)
  );
  max-height: calc(100vh - var(--max-header-bar-height));
  border-top: 3px solid white;
}

body {
  padding-top: 100vh;
}

body::-webkit-scrollbar {
  width: 2px;
}

.Spotlight {
  height: calc(100vh - var(--max-header-bar-height));
  position: fixed;
  z-index: -1;
  top: calc(var(--max-header-bar-height) - 2px);
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
  border: 0;
}

.Spotlight--Aqua,
.Detail-Panel--Aqua,
.Kaufbanner--Aqua {
  --gradient-color-DetailPanel: rgba(3, 7, 51, 1) 0%, rgba(3, 60, 119, 1) 30%,
    rgba(40, 154, 179, 1) 75%, rgba(125, 219, 207, 1) 100%;
}

.Kaufbanner--Aqua {
  --gradient-direction-DetailPanel: -135deg;
  --gradient-color-DetailPanel: rgba(3, 7, 51, 1) -30%, rgba(3, 60, 119, 1) 10%,
    rgba(40, 154, 179, 1) 50%, rgba(125, 219, 207, 1) 120%;
}

.Spotlight__Bild {
  object-fit: cover;
  height: 100%;
  width: 100vw;
  --gradient-direction-DetailPanel: 0deg;
  --transparency-delta-top: 1%;
  --transparency-delta-bottom: 1%;
  --transparency-start: 0%;
  --transparency-stop: 100%;
  --transparency-direction: 0deg;
  -webkit-mask-image: linear-gradient(
    var(--transparency-direction),
    transparent var(--transparency-start),
    green calc(var(--transparency-start) + var(--transparency-delta-top)),
    green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
    transparent var(--transparency-stop)
  );
  mask-image: linear-gradient(
    var(--transparency-direction),
    transparent var(--transparency-start),
    green calc(var(--transparency-start) + var(--transparency-delta-top)),
    green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
    transparent var(--transparency-stop)
  );
}

.Spotlight__Text {
  width: 100vw;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.337);
}

.Spotlight--Aqua .Spotlight__Text {
  background: linear-gradient(
    180deg,
    rgba(3, 60, 119, 1) 0%,
    rgba(40, 154, 179, 1) 100%
  );
  color: rgb(70, 249, 255);
  text-shadow: 0 0 7px rgba(0, 247, 255, 0.657);
}

.Spotlight__Heading {
  font-size: 300%;
}

.Divider {
  height: 1px;
  width: 100%;
  position: relative;
  box-shadow: 0 0 5px 5px rgba(0, 247, 255, 0.5);
  z-index: 100;
}
.Divider--vertical {
  width: 1px;
  height: 100%;
}

.Spotlight--Aqua .Divider,
.Detail-Panel--Aqua .Divider {
  background-color: rgba(0, 248, 255, 0.6);
}

.Detail-Panel .Divider {
  grid-column: 1/-1;
  grid-row: 2/3;
}

@keyframes move_fish {
  0% {
    left: 0%;
    top: 0%;
  }
  100% {
    left: 100%;
    top: 100%;
  }
}
.Divider__Fish {
  --fish_duration: 60s;
  --fish_delay: 0s;
  animation: move_fish var(--fish_duration) linear var(--fish_delay) infinite;
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 248, 255, 1);
  box-shadow: 0 0 4px 2px rgba(0, 248, 255, 1);
}

.Divider__Fish:nth-child(2n) {
  animation-direction: reverse;
}

.Divider__Fish:nth-child(3),
.Divider__Fish:nth-child(4) {
  animation-delay: calc(var(--fish_duration) / 3 * (-1));
}
.Divider__Fish:nth-child(5),
.Divider__Fish:nth-child(6) {
  animation-delay: calc(var(--fish_duration) / 3 * 2 * (-1));
}

.Detail-Panel {
  display: grid;
  max-height: calc(100vh - var(--max-header-bar-height));

  justify-items: center;
  grid-template-rows:
    fit-content fit-content 100vw
    fit-content;
  /* TODO:  */
  grid-template-columns: 100vw;
  --border-style: 5px solid white;
  border-top: var(--border-style);
  overflow: hidden;
  --gradient-direction-DetailPanel: 0deg;
  --transparency-delta-top: 0%;
  --transparency-delta-bottom: 0%;
  --transparency-start: 0%;
  --transparency-stop: 100%;
  --transparency-direction: 0deg;
  box-shadow: 0 0 20px 0 white;
}

.Detail-Panel__Slideshow {
  top: 0;
  display: grid;
  height: fit-content;
  width: 100%;
  grid-column: 1/2;
  grid-row: 3/4;
  --bild-breite: 100%;
  grid-template-columns: repeat(var(--anzahl-der-Bilder), var(--bild-breite));
  overflow: hidden;
  --anzahl-der-Bilder: 0;
  --dauer-pro-Bild: 3s;
  --slideshow-name: slideshow-3;
}

@keyframes slideshow-2 {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(0%);
  }

  66% {
    transform: translateX(
      calc((var(--anzahl-der-Bilder) - 1) * calc(-1 * var(--bild-breite)))
    );
  }
  100% {
    transform: translateX(
      calc((var(--anzahl-der-Bilder) - 1) * calc(-1 * var(--bild-breite)))
    );
  }
}

@keyframes slideshow-3 {
  0% {
    transform: translateX(0%);
  }
  16.6% {
    transform: translateX(0%);
  }

  33.4% {
    transform: translateX(
      calc((var(--anzahl-der-Bilder) - 2) * calc(-1 * var(--bild-breite)))
    );
  }
  66.6% {
    transform: translateX(
      calc((var(--anzahl-der-Bilder) - 2) * calc(-1 * var(--bild-breite)))
    );
  }

  83.4% {
    transform: translateX(
      calc((var(--anzahl-der-Bilder) - 1) * calc(-1 * var(--bild-breite)))
    );
  }
  100% {
    transform: translateX(
      calc((var(--anzahl-der-Bilder) - 1) * calc(-1 * var(--bild-breite)))
    );
  }
}

.Slideshow__Item {
  object-fit: cover;
  animation: var(--slideshow-name)
    calc(var(--dauer-pro-Bild) * var(--anzahl-der-Bilder)) ease-in-out 2s
    infinite alternate;
  width: 100%;
}

.Detail-Panel--Aqua .Detail-Panel__Heading {
  background: linear-gradient(
    180deg,
    rgba(3, 60, 119, 1) 0%,
    rgba(40, 154, 179, 1) 100%
  );
  color: rgb(70, 249, 255);
  text-shadow: 0 0 7px rgba(0, 247, 255, 0.657);
}

.Detail-Panel__Heading {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 4rem;
  text-decoration: underline;
  margin: 0;
  padding: 40px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.726);
}

.Detail-Panel__Info {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  position: relative;
}
.Panel__Info__Button:hover {
  opacity: 1;
}
.Panel__Info__Button {
  width: fit-content;
  height: fit-content;
  padding: 0.4rem 1rem;
  font-weight: 900;

  margin: 10px 5px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.2;
}
.Panel__Info__Button:hover + .Panel__Info__Text,
.Panel__Info__Text:hover {
  opacity: 1;
  top: 0%;
}

.Panel__Info__Text {
  padding: 30px;
  height: 100%;
  max-height: 100vw;
  position: absolute;
  top: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 1s, top 0.3s;
  overflow-y: scroll;
}

.Detail-Panel .Divider:nth-last-child(1) {
  grid-column: 1/2;
  grid-row: 4/5;
  position: relative;
  bottom: 3px;
}

.Detail-Panel .Divider:nth-last-child(2) {
  display: none;
}

@media screen and (min-width: 1000px) {
  .Detail-Panel {
    width: 100vw;
    max-width: 100vw;
    grid-template-rows: 1fr fit-content 1fr;
    /* TODO:  */
    --left-column: 7fr;
    --right-column: 10fr;
    grid-template-columns: var(--left-column) min-content var(--right-column);
  }
  .Detail-Panel:nth-of-type(odd) {
    grid-template-columns: var(--right-column) min-content var(--left-column);
  }
  .Detail-Panel__Slideshow {
    --bild-breite: 100%;
    grid-template-columns: repeat(3, var(--bild-breite));
    overflow: hidden;
    --transparency-delta-top: 0%;
    --transparency-delta-bottom: 0.7%;
    --transparency-direction: 90deg;
    -webkit-mask-image: linear-gradient(
      var(--transparency-direction),
      transparent var(--transparency-start),
      green calc(var(--transparency-start) + var(--transparency-delta-top)),
      green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
      transparent var(--transparency-stop)
    );
    mask-image: linear-gradient(
      var(--transparency-direction),
      transparent var(--transparency-start),
      green calc(var(--transparency-start) + var(--transparency-delta-top)),
      green calc(var(--transparency-stop) - var(--transparency-delta-bottom)),
      transparent var(--transparency-stop)
    );
  }
  .Detail-Panel .Detail-Panel__Heading {
    grid-column: 1/-1;
    grid-row: 1/2;
    font-size: 5rem;
  }
  .Detail-Panel .Divider:nth-last-child(1) {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 1px;
    height: 100%;
    position: relative;
    bottom: 3px;
  }
  .Detail-Panel .Detail-Panel__Slideshow {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .Detail-Panel:nth-of-type(odd) .Detail-Panel__Slideshow {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .Detail-Panel .Panel__Info__Button {
    display: none;
  }
  .Detail-Panel .Detail-Panel__Info {
    grid-row: 3/4;
    grid-column: 3/4;
    font-size: 2.5rem;
  }
  .Detail-Panel:nth-of-type(odd) .Detail-Panel__Info {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .Detail-Panel .Panel__Info__Text {
    top: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
  }
  .Detail-Panel .Divider:nth-last-child(2) {
    display: block;
    grid-row: 6/7;
    position: relative;
    bottom: 2px;
  }
}

.Kaufbanner__Info .Kaufbanner__Info .Kaufbanner__Daten__Reihe [colspan="2"] {
  font-size: 150%;
}
/* Kaufbanner */
.Kaufbanner {
  background-color: black;
  max-height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, fit-content);
  height: fit-content;
  margin: 0;
}

.Kaufbanner__Produkt-Container {
  display: grid;
  max-height: calc(100vh - var(--max-header-bar-height));
  grid-template-columns: 100vw;
  grid-template-rows: fit-content 100vw fit-content;
  justify-items: center;
  align-items: center;
}

.Kaufbanner__Bild {
  grid-row: 2/3;
  height: 100%;
  width: clamp(300px, 100%, 640px);
  position: relative;
  bottom: 30px;
}

.Kaufbanner__Info {
  width: 95vw;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
  word-break: normal;
}

.Kaufbanner__Info::-webkit-scrollbar {
  width: 3px;
}

.Kaufbanner__Info::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.Kaufbanner__Titel {
  color: #46f9ff;
  text-shadow: 0 0 7px #00f7ffa8;
  text-align: center;
  grid-row: 1 / 2;
  font-size: 80px;
  font-weight: bold;
  filter: brightness(2);
}

.Kaufbanner__Info__Daten {
  overflow-x: hidden;
}
.Kaufbanner__Daten__Reihe {
  background-color: rgba(255, 255, 255, 0.2);
}

.Kaufbanner__Daten__Reihe:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.3);
}
.Kaufbanner__Daten__Reihe :nth-child(n) {
  text-align: center;
  padding: 3px;
  font-size: clamp(1.6rem, 6vw, 2.5rem);
}

.Kaufbanner__Preis-Knopf {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 65px;
  font-size: clamp(2rem, 10vw, 4rem);
}
.Kaufbanner__Preis {
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(40px, 10vw, 60px);
  position: relative;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Kaufbanner__Knopf {
  background-color: rgba(255, 255, 255, 1);
  filter: opacity(0.8);
  color: var(--page-background-color);
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 100px;
  mix-blend-mode: color-dodge;
  box-shadow: 0 0 10px 0 white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
  bottom: 30px;
  font-size: clamp(40px, 6vw, 60px);
}

.Kaufbanner__Knopf:hover {
  transform: scale(1.1);
}

.Kaufbanner__Preis-Waehrungsicon {
  width: 80px;
}

@media screen and (min-width: 800px) {
  .Kaufbanner {
    grid-template-columns: 55% 45%;
    justify-items: center;
    align-items: center;
    height: calc(100vh - var(--max-header-bar-height));
    padding: 0;
  }

  .Kaufbanner__Produkt-Container {
    height: calc(100vh - var(--max-header-bar-height));
    grid-template-columns: 1fr;
    grid-template-rows: fit-content 100% fit-content;
  }

  .Kaufbanner__Bild {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-start;
  }

  .Kaufbanner__Info {
    grid-column: 2/3;
    grid-row: 1/4;
    mix-blend-mode: luminosity;
    justify-self: center;
    align-self: center;
    margin-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 80%;
    width: 100%;
  }

  .Kaufbanner__Titel {
    align-self: flex-end;
    font-weight: bold;
    font-size: clamp(80px, 8vw, 130px);
    position: relative;
    top: 50px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .Kaufbanner__Info__Daten {
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    align-self: center;
    font-weight: 300;
    padding: 0;
  }

  .Kaufbanner .Kaufbanner__Daten__Reihe {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 3rem;
  }
  .Kaufbanner__Daten__Reihe:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .Kaufbanner__Daten__Reihe :nth-child(n) {
    font-size: 2rem;
  }

  .Kaufbanner__Preis {
    font-size: clamp(40px, 10vw, 60px);

    bottom: 0;
  }

  .Kaufbanner__Knopf {
    bottom: 0;
  }

  .Kaufbanner__Preis-Knopf {
    grid-row: 3/4;
    grid-column: 1/2;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    bottom: 100px;
  }

  .Kaufbanner__Info {
    border-radius: 20px 0 0 20px;
  }
  .Kaufbanner__Info__Daten {
    border-spacing: 1px 0px;
  }

  .Kaufbanner__Info__Head {
    position: sticky;
    top: 0px;
    background-color: rgb(175, 175, 175);
    color: rgba(42, 42, 42, 1);
    margin: 2px;
  }
}

@media screen and (min-width: 1440px) {
  .Kaufbanner__Preis-Knopf {
    flex-direction: row;
  }
  .Kaufbanner__Knopf {
    margin-left: 2vw;
  }
}

.Kaufbanner {
  z-index: 775;
}

.Footer {
  z-index: 776 !important;
}

.Kaufbanner__Bild-Container {
  display: flex;
  justify-content: center;
}
